### CUSTOM ###
application-local.yml
application-see.yml
application-stdio.yml
application.yml
application-prod.yml

### 前端依赖库 ###
flj-ai-agent-frontend/dist/
flj-ai-agent-frontend/*.zip
node_modules/
### AI本地聊天记录 ,工具调用生成文档###
chat-memory/
tmp/chat-memory/
tmp/file/
tmp/*

*~
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
chat-momery/
flj-ai-agent.zip
Demos/
RocoKingdom-agent-backup/
